.todo-list-container {
    height: 60vh;
    overflow-y: auto;
    padding-right: 4px;
    /* avoids scrollbar overlap */
}

.todo-item {
    border-radius: 0.75rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    background-color: rgba(var(--bs-primary-rgb), 1);
    padding: 1rem;
    line-height: 1.5rem;
}

.todo-title {
    font-weight: 600;
    font-size: 1rem;
    color: white;
}

.todo-description {
    color: white;
    font-size: 0.9rem;
    margin-top: 4px;
}